./*/node_modules
routes/src/assets/individual+household+electric+power+consumption/household_power_consumption.txt
routes/src/assets/individual+household+electric+power+consumption/household_power_consumption.txt
